<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_ID</key>
	<string>dvmX0m1JYPLaD1AdoV3r2cS8lbWltBZNCiiecETA</string>
	<key>client_Key</key>
	<string>ZR8wk8XnaICoF5pGCELhrwyJlqcChOzopWWCRl7m</string>
</dict>
</plist>
